
.App {
  /* border: 2px dotted orange; */
  text-align: center;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: space-between;
  height: 100%;
  /* background-color: aquamarine; */
}
.card-container {
  /* border: 1px solid purple; */
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}
.dogcard {
  /* border: 1px green solid; */
  width: 32%;
  /* width is 32% of parent */

}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  /* border: solid 1px red; */
  width: 100vw;
}
img {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: auto;
}
span {
  font-size: 10px;
}
.spacer {
  line-height: 32px;
  background-color: black;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.update-btn {
  color: #0099CC; 
  background: transparent; 
  border: 2px solid rgb(76, 168, 199);
  border-radius: 6px;
}
#hidden {
  display: none;
}

.App-link {
  color: #61dafb;
}
.main-img:hover + #hidden {
  display: block;

}
.main-delete {
  color: #0099CC; 
  background: transparent; 
  border: 2px solid rgb(211, 69, 69);
  border-radius: 6px; 
}
#nav-cnt {
  font-weight: bold;
  font-size: 1.2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
